@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(fonts/GothamPro__regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(fonts/gothampro_bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(fonts/gothampro_medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Artegra';
    src: url(fonts/artegra-sans-extended-alt-extbd.otf);
}

/* fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Pro', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 48px;
    font-weight: 700;
    font-size: 48px;
    line-height: 115%;
    color: #262626;
}

h2{
    font-size: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 137%;
    color: #303030;
}

h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #303030;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #404040;
}

button{
    border-radius: 15px;
    padding: 16px 32px;
    background: #273895;
    color: white;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
}

.small-wrap{
    width: 1056px;
    margin: 0 auto;
}

.wide-wrap{
    max-width: 1440px;
    padding: 0px 80px;
    margin: 0 auto;
}

/* header */

header{
    background-color: #F4F7FA;
    padding-top: 48px;
}



.logo-container, .logo-w-text1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    & .logo-w-text1{

        & .logo__text{
            line-height: 119%;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin-left: 24px;
        }
    }

    & .logo__text2{
        margin-left: clamp(5px, 3.229vw, 62px);
    }
}

.header__logo-bg{
    position: absolute;
    border-radius: 100%;
    fill: radial-gradient(50% 50% at 50% 50%, rgb(205, 187, 239) 0%, rgb(196, 196, 196) 100%);
    left: -200px;
}

.phone-w-button{
    display: flex;
    align-items: center;
    gap: 36px;

    & button{
        width: 115px;
        height: 50px;
    }
}


/* nav-section */

nav{
    background-color: #F4F7FA;
    padding-top: 48px;
}

.nav-ul{
    display: flex;
    align-items: center;
    gap: 48px;

    & li{
        font-weight: 500;
        font-size: 16px;
    }
}

/* banner-section */

#banner-section{
    background-color: #F4F7FA;
}

.banner-container{
    display: flex;
    padding-top: 55px;
    gap: 67px;
    position: relative;
}

.banner-text{

    height: 341px;

    & h1{
        padding-top: 65px;
    }

    & p{
        padding-top: 16px;
        padding-bottom: 32px;
    }
}

.banner-imgs{
    position: relative;

    & .banner-features{
        position: absolute;
        width: 712px;
        height: 164px;
        box-shadow: 0 4px 100px 0 rgba(208, 218, 227, 0.57);
        background: #f4f7fa;
        border-radius: 15px;
        bottom: -80px;
        left: -200px;
        z-index: 100;


        & ul{
            display: flex;
            gap: 32px;
            max-width: 712px;
        }

        & ul li{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 32px 48px;
            gap: 8px;
            width: 100%px;
        }
    }
}

.banner__addition{
    position: absolute;
    right: 67px;
    top: -70px;
}

/* team-section */

#team-section{
    background-color: #F4F7FA;
}

.team-container{
    padding-top: 269px;
    display: flex;
    justify-content: center;
    gap: 175px;
}

.team-logo-w-text{
    padding-top: 31px;

    & h2{
        max-width: 438px;
        padding-top: 32px;
        padding-bottom: 16px;
    }

    & p{
        max-width: 406px;
    }
}

.team-cards-ul{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 17px 25px;
    position: relative;

    & .team-card__items{
        border-radius: 10px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-shadow: 0 4px 100px 0 rgba(208, 218, 227, 0.57);
        background: linear-gradient(200deg, #fff 0%, #f4f9ff 100%);
        position: relative;
        z-index: 1;

        & h4{
            font-size: 48px;
            background: linear-gradient(180deg, #4614e8 30%, #bca7ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        & span{
            font-size: 16px;
        }
    }

    & .card1{
        width: 217px;
        height: 156px;
        background-color: white;

        & .team-card__circle1{
            position: absolute;
            top: -50px;
            left: 390px;
            z-index: -1; /* Помещаем круглую картинку за карточками */
        }

        & .team-card__circle2{
            position: absolute;
            width: 39px;
            height: 39px;
            top: 159px;
            left: 20px;
        }
    }

    & .card2{
        width: 179px;
        height: 135px;
        background-color: white;
        align-self: flex-end;
        gap: 3px;
        padding: 20px;
    }

    & .card3{
        width: 179px;
        height: 135px;
        background-color: white;
        gap: 3px;
        padding: 20px;
        justify-self: flex-end;

        & .team-card__circle3{
            position: absolute;
            width: 25px;
            height: 25px;
            top: 20px;
            left: 190px;
        }
    }

    & .card4{
        width: 192px;
        height: 171px;
        background-color: white;
        gap: 0px;

        & h4{
            font-family: 'Artegra';
            font-size: 20px;
            line-height: 275%;
            letter-spacing: 0.17em;
        }
    }
}


/*support-section */

#support-section{
    background-color: #F4F7FA;
    padding-top: 48px;
}

.support-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.support-ul{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    margin-top: 31px;
    grid-gap: 16px;
    max-width: 95%;

    & li{
        width: 343px;
        height: 344px;
        border-radius: 10px;
        text-align: start;
        padding: 32px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .support-text{
            padding-top: 16px;
        }
    }
}

/* advantages-section */

#advantages-section{
    background-color: #F4F7FA;
    padding-top: 144px;
}

.advantages-container{
    text-align: center;
}

.adv-img-w-text{
    display: flex;
    justify-content: center;

    & .adv-text{
        padding-top: 60px;
        text-align: start;
    }
}

.adv-text{
    width: 440px;

    & h3{
        color: #34449c;
        line-height: 275%;
        letter-spacing: 0.17em;
    }

    & ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 8px;
    }
}

.advantages-ul{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: start;
    margin-left: 80px;

    & .adv__item{
        position: relative;
        width: 300px;
    }

    & .adv__item::before{
        content: "";
        width: 12px;
        height: 6px;
        position: absolute;
        background-image: url(imgs/ы.svg);
        background-size: cover;
        background-repeat: no-repeat;
        top: 7px;
        left: -20px;
    }
}

.advantages-cards{
    display: flex;
    justify-content: center;
    gap: 19px;
    position: relative;
    top: -60px;

    & .adv-card__item{
        display: flex;
        flex-direction: column;
        width: 236px;
        height: 342px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 100px 0 rgba(208, 218, 227, 0.57);
        background: linear-gradient(200deg, #fff 0%, #f4f9ff 100%);
        padding: 32px;
        text-align: start;
        gap: 16px;
    }
}

/* plans-section */

#plans-section{
    padding-top: 100px;
    background-color: #F4F7FA;
    padding-bottom: 144px;
}

.plans-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-plans{
    margin-top: 32px;

    & button{
        width: 140px;
        font-size: 18px;
    }

    & .plan-btn1{
        background-color: #273895;
        transition: .2s;
        color: white;
        font-weight: 400;
    }
    
    & .plan-btn2{
        background-color: transparent;
        transition: .2s;
        color: #273895;
    }

    & .plan-btn1::before{
        content: "";
        width: 70px;
        height: 2px;
        position: absolute;
        transform: translate(0, 23px);
        border-top: 1px dotted #2741CF;
    }

    & .plan-btn2::before{
        content: "";
        width: 35px;
        height: 2px;
        position: absolute;
        transform: translate(0, 23px);
        border-top: 1px dotted #2741CF;
    }
}

.plan-cards{

    & .plan-cards-ul{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-gap: 29px;
        margin-top: 42px;

        & button{
            width: 220px;
            height: 56px;
            font-weight: 500;
        }
    }

    & .plan__card1{
        width: 1062px;
        height: 495px;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 3px;
        grid-area: 1/1 /1/3;
        padding: 48px 0;
        align-items: center;
    }

    & .plancrd{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 513px;
        height: 647px;
        border-radius: 20px;
        padding: 48px 48px;
        background-color: white;

        & .plancrd__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 187%;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #2741d0;
        }

        & p{
            padding: 16px 0;
            color: #737373;
        }

        & .plan-h3__allowed{
            padding: 16px 0;
            font-weight: 500;
        }

        & .plancrd-ul{
            display: flex;
            flex-direction: column;

            & li{
                transform: translate(15px, 0);
                padding-bottom: 16px;
            }

            & li::before{
                content: "";
                width: 12px;
                height: 6px;
                position: absolute;
                background-image: url(imgs/ы.svg);
                background-size: cover;
                background-repeat: no-repeat;
                transform: translate(-20px, 5px);
            }
        }
    }

    & li{
        display: flex;
        flex-direction: column;
    }

    & .plan__card__li::before{
        content: "";
        width: 12px;
        height: 6px;
        position: absolute;
        background-image: url(imgs/ы.svg);
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(-20px, 5px);
    }
}

.plan__card1{
    
    & h3:first-child{
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        text-align: center;
        color: #2741d0;
    }

    & h2{
        font-weight: 500;
        font-size: 32px;
        line-height: 137%;
        text-align: center;
        color: #c9c9c9;
    }

    & p{
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        text-align: center;
        color: #737373;
    }

    & .plan__card1__h3{
        text-align: center;
    }

    & ul{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-gap: 8px;

        & li{
            width: 300px;
            position: relative;
            padding-top: 24px;
            margin-left: 20px;
        }
    }
}

.plan-more-about{
    padding: 20px 0;

    & a{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    & a:hover{
        & svg{
            transition: .2s;
            transform: translateX(10px);
        }
    }

    & a:not(:hover){
        & svg{
            transition: .2s;
            transform: translateX(0);
        }
    }

    & h3{
        font-weight: 500;
        color: #2741d0;
    }
}

/* partners */

#partner-section{
    position: relative;
    background-color: #F4F7FA;
}

.partner__bg{
    width: 100%;
    position: absolute;
}

.partner-text{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 88px;
    gap: 16px;

    & h1,h3{
        color: white;
    }

    & h3{
        font-weight: 500;
    }
}

.partner-ul{
    display: flex;
    flex-direction: column;
    margin-top: 330px;
    gap: 16px;

    & li{
        width: 1062px;
        height: 229px;
        border-radius: 20px;
        background-color: white;
        padding: 48px 0 48px 109px;
        display: flex;
        gap: 30px;
    }

    & button{
        align-self: center;
        width: 250px;
        height: 56px;
        margin-top: 14px;
    }
}

.partner-li-text{
    display: flex;
    flex-direction: column;
    gap: 16px;

    & p:nth-child(3){
        color: #b7b6b6;
    }
}